.profile {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.cursor {
  cursor: default;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.profile img,
.cursor img {
  height: 160px;
  width: 160px;
}

.profile .profileIcon,
.cursor .profileIcon {
  padding: 20px;
  border-radius: 5px;
}

.profile:hover .profileIcon {
  background-color: rgba(255, 255, 255, 0.3);
}

.profile:hover p {
  color: white;
}

.profile .editing {
  opacity: 0.5;
}

.profile .editIcon {
  position: absolute;
  top: 65px;
  color: black;
  border: 1px solid black;
  font-size: 2rem;
  background-color: white;
  border-radius: 100%;
  padding: 3px;
  z-index: 2;
}
