.profile {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.profile .profileIcon {
  padding: 20px;
  border-radius: 5px;
}

.profile:hover .profileIcon {
  background-color: rgba(255, 255, 255, 0.3);
}

.profile:hover p {
  color: white;
}

.profile .editing {
  filter: grayscale(100%);
  opacity: 0.5;
}

.profile .editIcon {
  position: absolute;
  top: 55px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
}

.profile:hover .editIcon {
  color: white;
}

.modalContent {
  text-align: center;
}

.modalContent h1 {
  color: white;
}

.modalContent h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.modalContent input {
  margin-top: 10%;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  color: white;
  font-size: 1.1rem;
}

.modalContent input::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.modalContent hr {
  border-color: rgba(255, 255, 255, 0.5);
}

.kidsProfileContainer {
  display: flex;
  text-align: left;
  padding: 10px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.kidsProfileLeft h1 {
  font-size: 1.2rem;
}

.kidsProfileLeft h4 {
  font-size: 1rem;
}

.checkboxRight .offCheckbox {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.checkboxRight .onCheckbox {
  color: #e50914;
  font-size: 3rem;
  cursor: pointer;
}
