.homepage {
  min-height: 100vh;
  background-color: #141414;
  color: white;
  position: relative;
  z-index: 1;
}

.homepage .carouselContainer {
  background: linear-gradient(to bottom, transparent 0%, #141414 10%);
  margin-top: -10%;
}

/* .homepage * {
  border: 1px solid red;
} */
