.homepage {
  min-height: 100vh;
  background-color: #141414;
  color: white;
  position: relative;
}

.homepage .background {
  /* position: relative; */
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.homepage .carouselContainer {
  margin-top: -10%;
}

/* .homepage * {
  border: 1px solid red;
} */

.homepage .homeHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.2s ease;
  top: 0;
  /* border: 1px solid white; */
}

.homeHeader li a {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.2s ease-in;
  text-decoration: none;
}

.navbar-top {
  background-color: transparent;
}

.navbar-scrolled {
  background-color: #141414;
}

.homeHeader li a.active {
  color: white;
  cursor: default;
}

.homeHeader li a.active:hover {
  color: white;
}

.homeHeader li a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.homeHeader .leftSide {
  display: flex;
  gap: 50px;
  flex-direction: row;
}

.homepage .homeHeader .leftSide ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.homepage .rightSide {
  gap: 30px;
  display: flex;
  margin-top: -0.5%;
}

.avatarWrapper {
  width: 40px;
  height: 40px;
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  right: 0;
  min-width: 180px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.dropdownContent div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdownContent ul {
  list-style-type: none;
}

.dropdownContent li {
  margin: 5px 0;
  padding: 5px;
}

.avatarWrapper:hover .dropdownContent {
  opacity: 1;
  visibility: visible;
}

.bannerOverlay p {
  margin-top: 5%;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 50%;
  cursor: pointer;
}

.bannerOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 5%;
  width: 40%;
}

.navbarIcons {
  box-sizing: content-box;
  font-size: 1.8rem;
  cursor: pointer;
  padding-top: 6px;
}

.bannerOverlay .buttons {
  margin-top: 5%;
  display: flex;
  gap: 20px;
}

.bannerOverlay .buttons button {
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.buttonIcon {
  left: 0;
  margin-top: 5px;
  color: black;
}

#lightButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#darkButton {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
}

#darkButton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
