.loginPage {
  height: 100vh;
  background: #380707;
  background: -webkit-linear-gradient(
    180deg,
    rgba(56, 7, 7, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -moz-linear-gradient(
    180deg,
    rgba(56, 7, 7, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(56, 7, 7, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#380707", endColorstr="#000000", GradientType=0);
}

.loginPage header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.loginPage header img {
  margin-left: 10%;
}

.login-section {
  width: 35%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2%;
  text-align: left;
  /* border: 1px solid white; */
  padding: 10px;
}

.login-section h1 {
  color: white;
}

.login-section h3 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.login-section .text {
  margin-bottom: 5%;
}

.login-section form {
  width: 100%;
  /* border: 1px solid white; */
}

.login-section .password-container {
  position: relative;
}

.login-section .password-toggle {
  position: absolute;
  right: 90px;
  top: 45%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.login-section input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 15px 15px;
  padding-right: 45px;
  width: 85%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.login-section input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.login-section .submit-button {
  width: 85%;
  border: none;
  padding: 10px 35px;
  font-size: 1.3rem;
  border-radius: 5px;
  color: white;
  background-color: #e50914;
  font-weight: bold;
  cursor: pointer;
}
