.profilesPage {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #141414;
  color: rgba(255, 255, 255, 0.5);
  gap: 30px;
}

.profilesPage h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

.profilesPage .profileList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.profilesPage .addProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.profilesPage .addProfile .icon {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.profilesPage .addProfile:hover .icon {
  background-color: rgba(255, 255, 255, 0.3);
}

.profilesPage .addProfile:hover p {
  color: white;
}

.profilesPage button {
  color: rgba(255, 255, 255, 0.5);
  background-color: inherit;
  border: none;
  padding: 5px 30px;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin-top: 4%;
}

.profilesPage button:hover {
  border-color: white;
  color: white;
}

.modalContent {
  text-align: center;
}

.modalContent h1 {
  color: white;
}

.modalContent h4 {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
}

.modalContent input {
  margin-top: 10%;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  width: 80%;
  padding: 20px;
  color: white;
  font-size: 1.1rem;
}

.modalContent input::placeholder {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

.modalContent hr {
  border-color: rgba(255, 255, 255, 0.5);
}

.kidsProfileContainer {
  display: flex;
  text-align: left;
  padding: 10px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.kidsProfileLeft h1 {
  font-size: 1.2rem;
}

.kidsProfileLeft h4 {
  font-size: 1rem;
}

.checkboxRight .offCheckbox {
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.checkboxRight .onCheckbox {
  color: #e50914;
  font-size: 3rem;
  cursor: pointer;
}

.modalContent .buttonsDiv {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.modalContent .buttonsDiv button {
  padding: 10px;
  border: none;
  margin-bottom: 2%;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

#modalSave {
  background-color: white;
  color: black;
  transition: background-color 0.2s ease;
}

#modalSave:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#modalCancel {
  background-color: inherit;
  transition: background-color 0.2s ease;
}

#modalCancel:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
